# --- LLM ---
MODEL_PROVIDER=ollama
LLM_MODEL=gpt-oss
LLM_TEMPERATURE=0
OLLAMA_API_URL=http://localhost:11434

# --- OPENAI ---
MODEL_PROVIDER=openai
LLM_MODEL=gpt-4.1-mini
OPENAI_API_KEY=your_key

# --- GOOGLE ---
MODEL_PROVIDER=google
LLM_MODEL=gemini-2.0-flash
GOOGLE_API_KEY=your_key

# --- ANTHROPIC ---
MODEL_PROVIDER=anthropic
LLM_MODEL=claude-3-5-haiku-latest
ANTHROPIC_API_KEY=your_key

# --- DATABASE SETTINGS ---
SQLITE_DB=sqlite:////home/nvdung1/Desktop/MultiAgentSystem/langgraph-agent/src/multi_agent_system/mcp_server/chinook.db

# --- MCP SERVER SETTINGS ---
MCP_SERVER_NAME=data_tools
MCP_SERVER_URL=http://localhost:10000/mcp
MCP_TRANSPORT=streamable-http
MCP_PORT=10000
MCP_HOST=localhost

# --- A2A SERVICES ---
INVOICE_A2A_URL=http://localhost:11001
MUSIC_A2A_URL=http://localhost:11002
A2A_TIMEOUT_SECONDS=30

# --- LANGSMITH TRACING (OPTIONAL) ---
LANGSMITH_API_KEY=lsv2_
LANGSMITH_ENDPOINT=https://api.smith.langchain.com # defaults to https://api.smith.langchain.com if using cloud
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=multi-agent-system