GOOGLE_API_KEY=""
GOOGLE_GENAI_USE_VERTEXAI=FALSE

# Options: gemini-2.0-flash-exp (50 req/day), 
#          gemini-1.5-flash (1500 req/day), 
#          gemini-1.5-pro, gemini-2.5-flash-lite
LLM_MODEL=gemini-2.0-flash

# Optional for LangSmith tracing and experiment tracking
LANGSMITH_API_KEY="lsv2-"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com" #defaults to https://api.smith.langchain.com if using cloud
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="multi-agent-system"

#MCP Server
MCP_SERVER_URL=http://localhost:10000
MCP_TRANSPORT_METHOD=streamable-http # Or stdio

# Agent URLs (for local development)
INVOICE_AGENT_URL=http://localhost:8010
MUSIC_AGENT_URL=http://localhost:8020
REFUND_AGENT_URL=http://localhost:8030
PLANNER_AGENT_URL=http://localhost:8040
ORCHESTRATOR_AGENT_URL=http://localhost:8050
